.faq-main {
  font-family: "Futura PT";
  color: #fff;
  padding-top: 175px;
  padding-bottom: 175px;

  .faq-main__title {
    font-size: 72em;
    font-weight: 300;
    font-family: "Futura PT Light";
    width: fit-content;
    margin: 0px auto;
  }

  .faq-main-list {
    padding-top: 75px;
    width: 840px;
    margin: 0px auto;

    .faq-main-list__item {
      padding: 40px 20px;
      border-top: 1px solid #343757;
      border-bottom: 1px solid #343757;
      transition: border-top 0.5s ease 0s, border-bottom 0.5s ease 0s;

      cursor: pointer;

      // &:last-child {
      //   border-bottom: 1px solid #343757;
      // }

      .faq-main-list__item-title {
        background: url("/src/assets/svg/faqArrowDown.svg") no-repeat right;
        font-size: 24em;
        font-weight: 400;
        font-family: "Futura PT Book";
        transition: background-image 0.5s ease 0s;
      }

      .faq-main-list__item-content {
        width: 100%;
        height: 0;
        background-color: transparent;
        overflow: hidden;
        transition: height 1s ease 0s;
        padding: 0px 0px 0px 0px;

        &:hover {
          height: 300px;
        }

        .faq-main-list__item-paragraph {
          font-size: 17em;
          font-weight: 400;
          font-family: "Futura PT Book";
          line-height: 130%;

          &:first-child {
            padding: 30px 0px 0px 0px;
          }
        }
      }
    }
  }
}

.faq-main-list__item-content._activeAccordeonItem {
  height: auto;
}

.faq-main-list__item._activeAccordeonBorder {
  border-bottom: 1px solid #343757;
  border-top: 1px solid #343757;
}

.faq-main-list__item._inactiveAccord {
  border-bottom: 1px solid #343757;
  border-top: 1px solid #343757;
}

@media (max-width: 1000px) {
  .faq-main .faq-main-list {
    margin: 0px auto;
  }

  .faq-main-list {
    width: 100%;
  }

  .faq-main-list .faq-main-list__item {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .faq-main__title {
    text-align: center;
  }

  .faq-main .faq-main-list {
    width: 95%;
    margin: 0px 0px;
  }
}

@media (max-width: 1000px) {
  .faq-main {
    padding-top: 80px;
  }

  .faq-main .faq-main__title {
    font-size: 56em;
    text-align: start;
  }

  .faq-main-list__item-title {
    width: 100%;
  }

  .faq-main .faq-main-list {
    width: 90%;
    margin: 0px 0px;
  }
}

@media (max-width: 320px) {
  .faq-main .faq-main__title {
    font-size: 48em;
    text-align: start;
  }

  .faq-main .faq-main-list {
    width: 75%;
    margin: 0px 0px;
  }
}
