footer {
  background-color: #1f2035;
}

.foooter {
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 100px 0px 80px 0px;
}

.footer-about {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
}
.footer-about .footer-logo {
  width: 84px;
  height: 22px;
  background: url("/src/assets/images/logo.png") no-repeat;
}
.footer-about .footer-about__paragraph {
  font-size: 17em;
  font-family: "Futura PT Book";
  margin-top: 20px;
  margin-bottom: 40px;
  line-height: 130%;
}
.footer-about .footer-about__paragraph-license {
  font-size: 13em;
  font-family: "Futura PT Book";
  color: #5f6589;
}

.footer-nav {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.footer-nav .footer-nav__item {
  font-size: 17em;
  font-family: "Futura PT Book";
  margin-bottom: 20px;
  cursor: pointer;
}

.footer-tel {
  -webkit-box-flex: 1.5;
      -ms-flex: 1.5;
          flex: 1.5;
}
.footer-tel .footer-tel__title-tel {
  font-size: 55em;
  font-family: "Futura PT Light";
  color: #f0bc7a;
  margin-bottom: 20px;
  opacity: 0;
  -webkit-transition: opacity 2s ease 0s;
  transition: opacity 2s ease 0s;
}
.footer-tel .footer-tel-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.footer-tel .footer-tel__list-days {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.footer-tel .footer-tel__list-days .footer-tel__list-days-title {
  color: #5f6589;
  font-size: 17em;
  font-family: "Futura PT Book";
  margin-bottom: 10px;
  -ms-flex-item-align: end;
      align-self: flex-end;
}
.footer-tel .footer-tel__list-days .footer-tel__list-days-paragraph {
  font-size: 17em;
  font-family: "Futura PT Book";
}
.footer-tel .footer-tel__list-time {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 20px;
}
.footer-tel .footer-tel__list-time .footer-tel__list-time-title {
  color: #5f6589;
  font-size: 17em;
  font-family: "Futura PT Book";
  margin-bottom: 10px;
  -ms-flex-item-align: end;
      align-self: flex-end;
}
.footer-tel .footer-tel__list-time .footer-tel__list-time-paragraph {
  font-size: 17em;
  font-family: "Futura PT Book";
}

.footer-tel__title-tel._startAnimFooter {
  opacity: 1;
}

@media (max-width: 1000px) {
  .footer-tel {
    -webkit-box-flex: 2.5;
        -ms-flex: 2.5;
            flex: 2.5;
  }
}
@media (max-width: 1540px) {
  .footer-tel .footer-tel__title-tel {
    font-size: 44em;
  }
}
@media (max-width: 768px) {
  .footer-tel {
    -webkit-box-flex: 4;
        -ms-flex: 4;
            flex: 4;
  }
  .footer-about {
    -webkit-box-flex: 1.5;
        -ms-flex: 1.5;
            flex: 1.5;
  }
}
@media (max-width: 480px) {
  .foooter {
    display: grid;
    grid-template-columns: 30% 70%;
    grid-template-rows: 50% 50%;
    row-gap: 80px;
  }
  .footer-tel {
    grid-column: 2/3;
    grid-row: 1/2;
  }
  .footer-tel .footer-tel__title-tel {
    font-size: 40em;
    text-align: end;
  }
  .footer-tel .footer-tel-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 20px;
  }
  .footer-tel .footer-tel-wrapper .footer-tel__list-days-paragraph {
    -ms-flex-item-align: end;
        align-self: flex-end;
  }
  .footer-tel .footer-tel-wrapper .footer-tel__list-time-paragraph {
    -ms-flex-item-align: end;
        align-self: flex-end;
  }
}
@media (max-width: 768px) {
  .footer-tel {
    -webkit-box-flex: 4;
        -ms-flex: 4;
            flex: 4;
  }
  .footer-about {
    -webkit-box-flex: 1.5;
        -ms-flex: 1.5;
            flex: 1.5;
  }
}
@media (max-width: 320px) {
  .foooter {
    display: grid;
    grid-template-columns: 30% 70%;
    grid-template-rows: 50% 50%;
    row-gap: 80px;
  }
  .footer-tel {
    grid-column: 2/3;
    grid-row: 1/2;
  }
  .footer-tel .footer-tel__title-tel {
    font-size: 24em;
    text-align: end;
  }
  .footer-tel .footer-tel-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 20px;
  }
  .footer-tel .footer-tel-wrapper .footer-tel__list-days-paragraph {
    -ms-flex-item-align: end;
        align-self: flex-end;
  }
  .footer-tel .footer-tel-wrapper .footer-tel__list-time-paragraph {
    -ms-flex-item-align: end;
        align-self: flex-end;
  }
}